/* NavBar Section */

.navbar{
    display:flex;
    align-items: center;
    /* justify-content:space-between; */
    padding:16px 32px;
    /* position:sticky;
    top:0; */
    background-color:black;
    color:white;
}

/* .Logo image{
    height:20px;
    width:20px;
} */

.nav-links{
    display:flex;
    gap:24px;
    margin-left:1000px;
}

a{
    color:white;
    font-weight:600;
    text-decoration: none;
}
a:hover{
    cursor:pointer;
    color: #0077ff;
}

/* HERO SECTION */
.Hero-section{
    background-image: url(../images/building-4.jpg);
    background-size:cover;
    height:400px;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:60px;
}

.mySkills{
    color:aquamarine;
}

.button-work{
    display:flex;
    gap:10px;
    margin-top: 10px;
}

.work-button{
    background-color: white;
    color: black;
    /* border: none; */
    border: 2px solid white;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.cv-button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.work-button:hover{
    /* background-color:rgb(252, 209, 131); */
    background-color: bisque;
    color:orange;
}

.cv-button:hover{
    background-color: bisque;
    color:orange;
    /* opacity: 0.7; */
}

.myName h1{
    font-size:48px;
    font-weight:700px;
    margin-bottom: 12px;

}

.mySkills h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #e0e0e0;
}


/* About Me Section */
.About-me-section{
    display:flex;
    background-color: #f7f7f7;
    gap:80px;
    padding: 60px 80px;
}


.my-pic{
    padding:8px;
    background-color: none;
    border-radius:8px; 
}

.my-pic img{
    width:200px;
    border-radius:6px;
    /* display:block; */
}

.title{
    font-size:20px;
    font-weight:600;
    font-family:Arial;
    text-decoration: underline;
    text-decoration-color:rgb(200, 200, 132) ;
    text-underline-offset: 7px;
}

.info{
    font-size:17px;
    font-family:Arial;
}

.info ul{
    margin-bottom: 20px;
    padding-left: 18px;
}

.read-more-button button{
    background-color: black;
    color:white;
    padding-left:10px;
    padding-right:10px;
    padding-top:7px;
    padding-bottom:7px;
}

.read-more-button button:hover{
    opacity:0.6;
    cursor:pointer;
}

@media (max-width: 768px) {
    .About-me-section{
        flex-direction: column;
        align-items: center;
    }
}


/* Project Section */
.project-section{
    padding: 60px 80px;
    background-color: black;
}

.project-title {
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center;
    color:white;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 370px;
}

.project-card {
    background-color: #f7f7f7;
    padding: 24px;
    /* padding-left:80px;
    padding-right:80px; */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.project-card h3 {
    margin-bottom: 12px;
}

.project-card p {
    margin-bottom: 16px;
    color: #555;
}

.project-card button{
    background-color: black;
    color:white;
    padding-right:15px;
    padding-left:15px;
    padding-top:8px;
    padding-bottom:8px;
    
}

.project-cart button:hover{
    cursor: pointer;
    opacity: 0.71;
}


/* Contact Section */
.Contact-section{
    /* padding-left: 60px;
    padding-right: 80px; */
    padding: 60px 80px;

    background-color: #f7f7f7;
}

.Contact-section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.contact-details{
    padding-right:30px;
}

/* .contact-details {
    display: flex;
    gap: 40px;
    justify-content: center;
} */

/* .personal-details {
    max-width: 300px;
}

.personal-details p {
    margin-bottom: 12px;
    font-size: 16px;
} */

.consumer-details {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    width: 320px;
    margin-left:490px;
    padding-right:45px

}

.consumer-details form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.consumer-details input,
.consumer-details textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.consumer-details textarea {
    resize: none;
    height: 100px;
}

.consumer-details button {
    margin-top: 12px;
    background-color: #2f343a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}



/* Footer Section */
.footer {
    background-color: #2f343a;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:0px;
    padding-right:80px;
    /* padding-bottom:120px; */
}

.footer-links {
    display: flex;
    gap: 16px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}


/* Responsive */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }

    .footer-links {
        justify-content: center;
    }
}
