.navbar{
    display:flex;
    align-items: center;
    /* justify-content:space-between; */
    padding:16px 32px;
    /* position:sticky;
    top:0; */
    background-color:black;
    color:white;
}

.nav-links{
    display:flex;
    gap:24px;
    margin-left:1000px;
}

a{
    text-decoration: none;
}
a:hover{
    cursor:pointer;
    color: #0077ff;
}