.navbar{
    display:flex;
    align-items: center;
    /* justify-content:space-between; */
    padding:16px 32px;
    /* position:sticky;
    top:0; */
    background-color:black;
    color:white;
}

.nav-links{
    display:flex;
    gap:24px;
    margin-left:1000px;
}

a{
    text-decoration: none;
}
a:hover{
    cursor:pointer;
    color: #0077ff;
}

/* HERO SECTION */
.Hero-section{
    background-image: url(../images/building-image.jpg);
    background-size:cover;
    height:400px;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:60px;
}

.mySkills{
    color:aquamarine;
}

.button-work{
    display:flex;
    gap:10px;
    margin-top: 10px;

    
}

.work-button{
    background-color: white;
    color: black;
    /* border: none; */
    border: 2px solid white;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.cv-button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.work-button:hover{
    /* background-color:rgb(252, 209, 131); */
    background-color: bisque;
    color:orange;
}

.cv-button:hover{
    background-color: bisque;
    color:orange;
    /* opacity: 0.7; */
}

.myName h1{
    font-size:48px;
    font-weight:700px;
    margin-bottom: 12px;

}

.mySkills h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #e0e0e0;
}
